/* Greys */
$mid_grey:#8D8D8D;
$dark_grey: #666;
$light_grey: #BBB;
$text_grey: #717171;
$text_shadow_grey: #E6E6E6;

/* Blues */
$cerulean: #0072BC;
$light_blue: #3EB3FF;
$dark_blue: #024A7F;


/* Form Colors */
$form_input_color: #024A7F;
$form_input_border: #02375F;
$form_error_border: #f28b00;
$form_error_body: #ed5a02;
