/* Registration Form */

form {
    text-align: left;
    text-shadow: 0 1px 0 $text_shadow_grey;
}

form#new_user {
    width:100%;
    .field {
       margin-bottom:1em;
    }
    label {
        display: block;
    }
    input {
        display:block;
        margin-top: 0.3125em;
        height:44px;
        background-color: white;
        border: 1px solid $form_input_border;
        border-radius: 0.1388888888888889em;
        color: $form_input_color;
        font: 1em 'MuseoSlab', 'Clarendon', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        width:100%;
    }
    .form_container {
        font-size: 2.25em;
        width:50%;
        margin:0 auto;
        margin-top:1em;
    }
}