/*@font-face {
  font-family: 'MuseoSlab';
  src: url("../webfonts/Museo_Slab_500-webfont.eot");
  src: url("../webfonts/Museo_Slab_500-webfont.eot?#iefix") format('embedded-opentype');
  src: local('☺');
  src: url("../webfonts/Museo_Slab_500-webfont.woff") format('woff'), url("../webfonts/Museo_Slab_500-webfont.ttf") format('truetype'), url("../webfonts/Museo_Slab_500-webfont.svg#MuseoSlab") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSlabItalic';
  src: url("../webfonts/Museo_Slab_500italic-webfont.eot");
  src: url("../webfonts/Museo_Slab_500italic-webfont.eot?#iefix") format('embedded-opentype');
  src: local('☺');
  src: url("../webfonts/Museo_Slab_500italic-webfont.woff") format('woff'), url("../webfonts/Museo_Slab_500italic-webfont.ttf") format('truetype'), url("../webfonts/Museo_Slab_500italic-webfont.svg#MuseoSlabItalic") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSlab';
  src: url("../webfonts/Museo_Slab_500-webfont.eot");
  src: url("../webfonts/Museo_Slab_500-webfont.eot?#iefix") format('embedded-opentype');
  src: local('☺');
  src: url("../webfonts/Museo_Slab_500-webfont.woff") format('woff'), url("../webfonts/Museo_Slab_500-webfont.ttf") format('truetype'), url("../webfonts/Museo_Slab_500-webfont.svg#MuseoSlab") format('svg');
  font-weight: normal;
  font-style: normal;
}*/
@font-face {
    font-family: 'MuseoSlabItalic';
    src: url("fonts/Museo_Slab_500italic-webfont.eot");
    src: url("Museo_Slab_500italic-webfont.eot?#iefix") format('embedded-opentype');
    src: local('☺');
    src: url("Museo_Slab_500italic-webfont.woff") format('woff'), url("Museo_Slab_500italic-webfont.ttf") format('truetype'), url("Museo_Slab_500italic-webfont.svg#MuseoSlabItalic") format('svg');
    font-weight: normal;
    font-style: normal;
}