@import "reset";
@import "mixins";
@import "colors";

body {
  font-family: "HelveticaNeue", arial, helvetica sans-serif;
  background: #BBB;
  font-size: 0.875em;
  line-height: 1.3; 
  color: $text_grey;
}

header {
    height:150px;
    background: $mid_grey;
    border-top:1px solid $light_grey;
    border-bottom:3px solid $dark_grey;
}

.dashboard header {
    background: $cerulean;
    border-top:1px solid $light_blue;
    border-bottom:3px solid $dark_blue;
}
