@import "reset";
@import "mixins";
@import "profile";
@import "login_modal";


$dark_grey: #232222;
$metal_grey: #d5d2d2;
$text: #d6b69e;
$logo_color: #f57f25;

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-family: "HelveticaNeue", arial, helvetica sans-serif;
  background: white;
  font-size: 0.875em;
  line-height: 1.3; 
  color: white;
}
  
header {
  height:1em;
  padding:1%;
  background: url('../images/sprite.png') 0 0 no-repeat;
}

header h1 {
  color:$logo_color;
  text-shadow:0px 0px black !important;
  font-size:1.5em;
  position:relative;
  top:-0.8em;
  left:-0.5em;
  display:block;
  height:1.9em;
  padding:0.5em 0 0 3.8em;
}

.button {
  cursor:pointer;
  color:white;
  font-weight:bold;
  font-size:1.8em !important;
  text-transform:uppercase;
  @include button;
  @include rounded(5px);
  display: block;
  font-size: 16px;
  padding:10px 20px;
  border:1px solid #FF5701;
}

.bttn {
  font-size: 1em;
  color: #234E70;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: rgba(0,0,0,0.15) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.15) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.15) 0px 1px 3px;
  border: solid 1px #6E93B0;
}

#main {
  overflow:hidden;
  #container {
    width:200%;
  }
}

#announce {
  cursor:pointer;
}

#announce_form {
  display:none;
  .field {
    margin-bottom:15px;
  }
}

#user_photo {
  width:117px;
  height:125px;
  border:1px solid blue;
}

.ui-dialog-titlebar-close {
  display:none !important;
}

/**** Tab Bar ****/

#tab-bar-list {
  position:relative;
  zoom: 1;
}

/* Clearfix to stop our floats */
#tab-bar-list:before, #tab-bar-list:after {
  content:"\0020";
  display:block;
  height:0;
  overflow:hidden;
}

#tab-bar-list:after {
  clear:both;
}

/* Floaut out three list items so they're evenly spaced */
#tab-bar-list li {
  display:inline;
  float:left;
  width: 33.333%;
}

/* Set a elements as blocks  */
#tab-bar-list a,
#tab-announce button {
  background:$metal_grey;
/*  color: #cdcdcd;
*/  display:block;
  font-size:1.5em;
  font-weight:bold;
  height:3.7em;
  margin:0 0.833em;
  overflow:hidden;
  padding-top:0.328em;
  position:relative;
  text-align:center;
  text-decoration:none;
}

#tab-home a {
  background: url('/images/sprite.png') 68% 36px no-repeat;
}
  
#tab-announce {
  button {
    color: $dark_grey;
    height: 4.95em;
    width:100%;
    margin: 0 0 -0.367em;
    border-bottom-left-radius: 0.286em;
    border-bottom-right-radius: 0.286em;
    text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
    position:relative;
    z-index:1;
    text-align:left;
    padding-left:2.3em;
    padding-top:0em !important;
  }
  button#announce {
    // background: #D5D2D2 url("/images/sprite.png") 287px -659px no-repeat;
  }
  button#logout {
  }
}

#tab-favorites a {
  background: url('/images/sprite.png') 64% -353px no-repeat;
}

.table-view {
  float:left;
  width:100%;
  .even {
    background: #2c2b2b;
  }
}

.table-action {
  li {
    position:relative;
    color:$text;
  }
  a {
    color: $text;
    display: block;
    position:relative;
    text-decoration: none;
    text-shadow:rgba(0,0,0,0.4) 0 -1px 1px; /* makes it look like text is imprinted */
  }
  h2 {
    color: white;
    font-size: 1.285em;
    width:82%;
  }
  .relative-distance {
    position:absolute;
    font-weight:normal;
    position: absolute;
    padding: 0.214em 0.429em;
    right:5em;
    top: 50%;
    margin-top:-1.1em;
  }
  .visits {
/*    background: #6f0914;*/
    border: 1px solid $text;
    -webkit-border-radius: 0.143em;
    -moz-border-radius: 0.143em;
    border-radius: 0.143em;
    color: #ebc466;
    font-weight:bold;
    position: absolute;
    padding: 0.214em 0.429em;
    right:2.5em;
    top: 50%;
    margin-top:-1.1em;
  }
}

footer {
  position:fixed;
  padding:1em;
  bottom:0;
  width:100%;
  color: $text;
  border-top:solid 1px #313232;
  background:black;
}

#user_list {
  width:50%;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;	
	transition:all .3s ease-in-out;  
  .photo, .name {
    float:left;
  }
  .user{
    cursor:pointer;
    float:left;
    clear:both;
    width:100%;
    font-size:1.3em;
    border-top:1px solid #424040;
    border-bottom:1px solid #050505;
    list-style-type:none;
    .data {
      padding:1em;
      height:100%;
      float:left;
      width:97%;
    }
  }
  .photo {
    margin-right:20px;
  }
  .name {
    width:25em;
  }
}

.user_profile {
  float:left;
  padding:2em;
  margin-left:100%;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;	
	transition:all .3s ease-in-out;  
}
