@import "reset";
@import "mixins";
@import "colors";
@import "typography";
@import "forms";
@import "success_and_errors";

body {
    background: #BBB;
    line-height: 1.3; 
    color: $text_grey;
    text-align:center;
    color: #717171;
    font: 16px 'MuseoSlab', 'Clarendon', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
    height:6.25em;
    background: $mid_grey;
    border-top:1px solid $light_grey;
    border-bottom:3px solid $dark_grey;
    padding:1.4375em;
    padding-left:7.6875em;
    text-align: center;
    #logo {
        background: url('sprite.png') no-repeat;
        width:100px;
        height:67px;
        position:absolute;
        margin-top:1em;
    }
}

header h2 {
    font-family:'MuseoSlab', 'Clarendon', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin:0.4em 0 0 -2em;
    color: white;
    font-size: 3em;
    font-weight: normal;
    letter-spacing: 0.041666666666666664em;
    text-shadow: 0 1px 0 #666;
    text-transform: uppercase;
}

.dashboard header {
    background: $cerulean;
    border-top:1px solid $light_blue;
    border-bottom:3px solid $dark_blue;
}
